<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        colors="true"
>
    <testsuites>
        <testsuite name="ezplatform_captcha">
            <directory>tests/bundle</directory>
    </testsuites>
</phpunit>
